
<section ng-include="'./partial/banner.html'" class="Slide">
</section>
<section id="New-Product" class="pt-5">
    <div class="container">
    <div class="content-Pd">
      <h5 >Sản Phẩm Mới</h5>
    </div>
   <div class="product-new pt-3">
    <div class="container">
      <div class="row ">
        <div ng-repeat="Sp in SpMoi | limitTo:4" class=" collums-me col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-5 ">
          <div class="card">
            <div class="icon-new bg-warning">
              <span>{{Sp.status}}</span>
            </div>
            <img src="img/sp/{{Sp.image}}" class="card-img-top">
            <div class="card-content">
              <a class="name" href="chitiet.html">
                <p>{{Sp.name}}</p>
              </a>
              <div class="category">
                <strong>Danh mục: </strong><span>{{Sp.category}}</span>
              </div>
              <div class="items-cart-price ">
                <div class="info-price">
                  <strong >{{Sp.price}}</strong>
                  <i class="add-items">VND</i>
                </div>
                <div class="add-cart">
                  <span>Thêm</span>
                  <i class="fa-solid fa-circle-plus add-items"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item "><a class="page-link" href="#"> << </a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">>></a></li>
      </ul>
    </nav>
  </div>
    </div>
</section>
<section id="Hot-Product" class="pt-5">
    <div class="container">
      <div class="content-Pd">
        <h5 class="textPrice">SẢN PHẨM NỔI BẬC</h5>
      </div>
     <div class="product-hot pt-3">
      <div class="container">
        <div class="row ">
          <div ng-repeat="Sp in SpNoibac | limitTo:4"class=" collums-me col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-5 ">
            <div class="card">
              <div class="icon-new">
                <span>{{Sp.status}}</span>
              </div>
              <img src="img/sp/{{Sp.image}}" class="card-img-top" alt="hinh{{image}}">
              <div class="card-content">
                <a class="name" href="chitiet.html">
                  <p>{{Sp.name}}</p>
                </a>
                <div class="category">
                  <strong>Danh mục: </strong><span>{{Sp.category}}</span>
                </div>
                <div class="items-cart-price ">
                  <div class="info-price">
                    <strong >{{Sp.price}}</strong>
                    <i class="add-items">VND</i>
                  </div>
                  <div class="add-cart">
                    <span>Thêm</span>
                    <i class="fa-solid fa-circle-plus add-items"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
</section>
<section id="subscribe">
    <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 ">
        <h3><i class="fa fa-envelope"></i>Đăng ký NHẬN CODE </h3>
      </div>
      <div class="col-lg-5 col-md-7 col-sm-6 col-xs-12 ">
        <form class="ps-subscribe__form" method="post" name="form-enewsletter" id="form-enewsletter" action="">
          <input type="email" class="form-control" name="femail-enewsletter" id="femail-enewsletter" placeholder="Địa chỉ mail của bạn" required="" onclick="enterCheckEmail('#femail-enewsletter');">
          <button type="submit">Đăng ký</button>
        </form>
      </div>
      <div class="col-lg-4 col-md-2 col-sm-12 col-xs-12 ">
        <p>...Nhận Ngay  <span> VOUCHER 100k </span> từ chúng tôi.</p>
      </div> 
</div>
    </div>
</section>