<div class="container-fluid mb-0">
  <div class="row pt-3 justify-content-between">
    <div class="col-lg-3 col-sm-12  col-md-5 ft-left border-right">
      <div class="ft-logo">
        <img src="img/Logo_web.png" alt="">
      </div>
      <div class="info-made d-flex flex-column">
        <h4>
          Thông tin liên hệ
        </h4>
        <div class="info-ct">
          <h5 class="info-ft-ct">⛪Địa chỉ: 18/4 Mỹ Huề ,Trung Chánh ,Hóc Môn </h5>
          <h5 class="info-ft-ct">  Email : phamthetoan.aloa.vn@gmail.com </h5>
          <h5 class="info-ft-ct"> Fanpage chính thức: <a href="">Phạm Toàn</a> </h5>
          <h5 class="info-ft-ct"> ☎️ Hotline Hỗ Trợ: 0909.300.746 - 0909.45.0001 </h5>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-sm-12 col-md-7 ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-sm-4">
              <div class="gioithieu">
                <h4>Hỗ Trợ Khách Hàng</h4>
                <div class="list-thongtin">
                  <li><a href="">Chăm sóc khách hàng</a></li>
                    <li><a href="">Thanh toán</a></li>
                    <li><a href="">Hướng dẫn mua hàng</a></li>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-3">
              <div class="gioithieu">
                <h4>Chính sách</h4>
                <div class="list-thongtin">
                  <li><a href="">Chế độ bảo hành</a></li>
                    <li><a href="">Chính sách đổi hàng</a></li>
                    <li><a href="">Bảo mật thông tin</a></li>
                    <li><a href="">Chính sách giao nhận</a></li>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-5">
              <div class="gioithieu">
                <h4>Chứng nhận</h4>
                <div class="list-thongtin">
                  <p>Số ĐKKD: 41N8041309 cấp ngày 17/8/2018. Nơi cấp Ủy Ban Nhân Dân Quận Tân Bình. Hộ Kinh Doanh: KINGSHOES. Hotline: 0909.300.746</p>
                  <li>
                    <img src="img/chungnhan.png" alt="">
                  </li>
                </div>
              </div>
            </div>
            
          </div>
        </div>
    </div>  
    <div class="col-lg-12">
      <div class="coppyright"> © Coppyright PS31110_PHAMTHETOAN_2024 </div>
    </div>
  </div>
  </div>