<div class="header__top">
  <div class="container-fluid mb-0">
    <div class="row">
      <div class="col-12 text-right">
        <p class="user-check d-inline">
          <a href="king-and-queen">👑 King and Queen</a>
        </p>
        <p class="user-check d-inline">
          <a href="#!dangnhap">
            <i class="fa fa-users" aria-hidden="true"></i> My Account</a>
        </p>
        <p class="hotline-top d-inline">
          <i class="fas fa-phone-alt"></i>
          <span class="d-none d-lg-inline-block">Hotline:</span>
          <a href="tel:0909300746">0909300746</a>
        </p>
      </div>
    </div>
  </div>
</div>
<nav class=" scroll-window navigation navbar navbar-expand-xl shadow-sm ">
  <div class="container-fluid">
      <div class="col-lg-2 navigation__column left ">
        <div class="header__logo">
            <a class="ps-logo" href="#!">
                <img src="img/Logo_web.png" alt="Cửa Hàng Giày Sneaker Chính Hãng Tại TpHcm - KING SHOES">
            </a>
        </div>
      </div>
      <div class="input-group form-search d-none">
        <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="Dollar amount (with dot and two decimal places)">
        <span class="input-group-text">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </div>
      <div class="col-lg-8 navigation__column d-xl-block offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header shadow-lg">
          <h5 class="offcanvas-title" id="offcanvasRightLabel">Danh mục</h5>
          <button type="button" class="cart-items" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="collslapse navbar-collapse offcanvas-body" id="navbarNavDropdown">
          <ul class="menu navbar-nav justify-content-center " >
            <div class="input-group form-search-mobile d-none">
              <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="Dollar amount (with dot and two decimal places)">
              <span class="input-group-text">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
            <li class="nav-item">
              <a class="nav-link" href="#!gioithieu">Giới thiệu</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="#!sanpham" id="">Nike</a>
              <!-- <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul> -->
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdidas" role="button" data-bs-toggle="dropdown" aria-expanded="false">Adidas</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownAdidas">
                <li><a class="dropdown-item" href="#!/category/nam">Nam</a></li>
                <li><a class="dropdown-item" href="#!/category/nu">Nữ</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownJordan" role="button" data-bs-toggle="dropdown" aria-expanded="false">Jordan</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownJordan">
                <li><a class="dropdown-item" href="#!/category/air-jordan">AIR JORDAN</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownYeezy" role="button" data-bs-toggle="dropdown" aria-expanded="false">Yeezy</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownYeezy">
                <li><a class="dropdown-item" href="#!/category/yeezy-boost-350">YEEZY BOOST 350</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOtherBrands" role="button" data-bs-toggle="dropdown" aria-expanded="false">Other Brands</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownOtherBrands">
                <li><a class="dropdown-item" href="#!/category/SNEAKER AUTHENTIC">SNEAKER AUTHENTIC</a></li>
                <li><a class="dropdown-item" href="#!/category/giay-the-thao-chay-bo--tap-gym">Giày thể thao chạy bộ -tập gym</a></li>
                <li><a class="dropdown-item" href="#!/category/giay-tennis-nike-chinh-hang">Giày tennis nike chính hãng</a></li>
                <li><a class="dropdown-item" href="#!/category/dep-authentic">Dép Authentic</a></li>
                <li><a class="dropdown-item" href="#!/category/crep-protect-ve-sinh-giay-sneaker">Crep Protect vệ sinh giày Sneaker</a></li>
                <li><a class="dropdown-item" href="#!/category/giay-thanh-ly">Giày Thanh Lý</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="#!/sale">Sale</a></li>
            <li class="nav-item"><a class="nav-link" href="#!/day-giay">Dây Giày</a></li>
            <li class="nav-item"><a class="nav-link" href="#!/spa-giay">Spa Giày</a></li>
            <li class="nav-item"><a class="nav-link" href="#!lienhe">Liên hệ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 navigation__column right d-flex align-items-center justify-content-flex-end">
          <div class="items d-flex align-items-center ">
              <!-- <div class="cart-items">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div> -->
              <a href="#!giohang">
                <div class="cart-items">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <span>0</span>
              </div>
              </a>
              <div class="cart-items">
                  <i class="fa-regular fa-heart"></i>
                  <span>1</span>
              </div>
          </div>
          <div class="menulist d-none">
              <i class="fa-solid fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
          </div>
      </div>
  </div>
</nav>